main {
    display: flex;
    justify-content: center;
}

.contact-container {
    padding: 60px;
    border: 1px solid #000;
    border-radius: 50%; /* Create a circular border */
    width: 60%;
}

.contact-container p {
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    /* Mobile styles */

    .contact-container {
        border: none; /* Remove the circular border on contact container */
    }

    h2 {
        margin: 20px 0;
    }
}
