body {
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-family: Arial, sans-serif;
  background-size: 100% 100%;
  overflow: hidden;
}

header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 1; 
    position: relative;
}

main {
  z-index: 1; 
  position: relative;
}

.logo_img {
    border-radius: 50%;
    border: 1px solid #ddd; /* Gray border */
  padding: 5px; /* Some padding */
  width: 150px;
}

.logo_img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  #background {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Place the background behind the content */
    background: url('../links/matrix_gif.gif') center center fixed;
    background-size: cover;
  }

h1 {
    margin: 0;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 25px 0;
    padding: 15px;
    cursor:pointer;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 45px 20px;
}

.visible li {
    opacity: 1;
    transform: translateY(0);
  }
  
.link-list li:hover {
    background-color: #f0f0f0;
}

.link-list img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.link-title {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
}

.share-button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.share-button:hover {
    background-color: #333;
}

footer {
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 768px) {
    /* Mobile styles */
  
    body {
    padding: 20px 20px 20px 20px;
    }
  }
